<a href="https://colab.research.google.com/github/krithi65/mathematic-programs/blob/main/programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Print the count of all palindromic numbers till ‘n’(inclusive)

Sample Input :
5
Sample Output :
5

In [ ]:
n= int(input( ))
count=0
for i in range(1,n+1):
    i=str(i)
    if i==i[::-1]:
     count+=1
print(count)

2.Find the minimum among 10 numbers.
Sample Testcase :
INPUT
5 4 3 2 1 7 6 10 8 9
OUTPUT
1

In [ ]:
arr = list(map(int,input( ).split( )))
print(min(arr))

3.Print yes if it is pure else not

Sample Input :
13
Sample Output :
not

In [ ]:
str1 = input()
sum=0
for digits in str1:
    sum+=int(digits)
if(sum%3==0):
    print("pure")
else:
    print("not")

4.Print the engine number

Sample Input :
HR05-AA-2669
Sample Output :
28

In [ ]:
a=input()
sum= 0
for x in a:
    if x.isdigit():
        z = int(x)
        sum = sum + z
print(sum)

5.the total unit of Air encapsulated between the walls of chamber.

Sample Input :
3
7 4 9
Sample Output :
3

In [ ]:
n =int(input())
l = [int(x) for x in input().split()]
ans = 0
for i in range(1, len(l)-1):
    if l[i] < l[i-1] and l[i] < l[i+1]:
        ans += min(l[i+1], l[i-1]) - l[i]
print(ans)

6.Print the max no of consecutive 1 in the number

Sample Input :
101011111
Sample Output :
5

In [ ]:

def getMaxLength(x, n):

	
	count = 0
	result = 0

	for i in range(0, n):
		if (x[i] == 0):
			count = 0
    
		
		else:
			
			
			count+= 1
			result = max(result, count)
		
	return result
num=input()
x=[int(a) for a in str(num)]
n = len(x)
if(getMaxLength(x, n)>1):
    print(getMaxLength(x,n))
else:
    print(-1)

7.Print 1 if the ticket is eligible for discount else 0

Sample Input :
6
112 139 165 175 262 130
22
Sample Output :
0 0 0 0 0 0

In [ ]:

n=int(input())
arr=list(map(int,input().split()))
month=int(input())
a=[]
for i in range(len(arr)):
    if arr[i]%month==0:
        a.append(1)
    else:
        a.append(0)
print(*a)

8.Print Saturated if it is saturated else it is Unsaturated

Sample Input :
121
Sample Output :
Saturated

In [ ]:
count=0
digit=input()
for i in range(len(digit)):
    if digit[i]==digit:
       count+=1
print("Saturated")

9.Given 3 numbers a,b,c print a*b mod c.
Sample Testcase :
INPUT
5 3 2
OUTPUT
1

In [ ]:
a,b,c=map(int,input().split())
d=a*b
e=d%c
print(e)

10.A great number is a number whose sum of digits let (m) and product of digits let(j) when summed together gives the number back

In [ ]:
num=input()
x=[int(a) for a in str(num)]
y=int(num)
m=x[0]+x[1]
j=x[0]*x[1]
k=m+j
if(k==y):
   print("Great")
else:
   print("no")

11.Given a number N, print 'yes' if it is a multiple of 13 else print 'no'.
Sample Testcase :
INPUT
26
OUTPUT
yes

In [ ]:
n=int(input())
if (n%13==0):
    print("yes")
else:
    print("no")

12.Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
Sample Testcase :
INPUT
5 5
OUTPUT
yes

In [ ]:
import math
N,M = map (int,input( ).split( ))
x=math.sqrt(N)
y=math.sqrt(M)
if(x%y==0):
    print("yes")
else:
    print("no")

13.Given a number N, print yes if the number is a multiple of 7 else print no.
Sample Testcase :
INPUT
49
OUTPUT
yes

In [ ]:
num=int(input())
if(num%7==0):
    print("yes")
else:
    print("no")

14.Count the number of digits of a given number N.Size of the integer ranges from 1Sample Testcases :
INPUT
548
OUTPUT
3

In [ ]:
n=int(input())
count=0
while n!=0:
    n//=10
    count+=1
print(count)

15.Print the minimum element

Sample Input :
5
3 4 9 1 6
Sample Output :
1

In [ ]:
n=int(input())
a=list(map(int,input().split()))
c=min(a)
print(c)

16.Given a number N, print the product of the digits.
Input Size : N <= 100000000000
Sample Testcase :
INPUT
2143
OUTPUT
24

In [ ]:

n=int(input())
pro=1
while n!=0:
    pro=pro*(n%10)
    n//=10
    
print(pro)

17.Given a number N, find its next immediate greater power of 2(i.e 2^1, 2^2, 2^3...).
Input Size : N <= 1000
Sample Testcase :
INPUT
4
OUTPUT
8

In [ ]:
import math
n=int(input())
print(n*2)

18.Your task is to tell whether numbers is co prime or not. If it is a co-prime print 1 else 0

Sample Input :
3 5
Sample Output :
1

In [ ]:
import math
n,a=map(int,input().split())
if (math.gcd(a,n)==1):
    print(1)
else:
    print(0)

19.import math
n,a=map(int,input().split())
if (math.gcd(a,n)==1):
    print(1)
else:
    print(0)

In [ ]:
import math
n,a=map(int,input().split())
if (math.gcd(a,n)==1):
    print(1)
else:
    print(0)

20.Print the nth number of series

Sample Input :
5
Sample Output :
30

In [ ]:
n=int(input())
mul=n+1
print(n*mul)

21.Print the largest number

Sample Input :
 I was born on 12 october 1998.
Sample Output :
1998

In [ ]:
import re
s=input( )
a= max(map(int,re.findall(r"(\d+)", s)))
print(a)

22.print the area of the farm upto 5 decimal decimals.
Sample Testcase :
INPUT
1.626 2.31
OUTPUT
3.75606

In [ ]:
import math
a,b=map(float,input().split())
area=a*b
y=str(area)
print(y[ :8])

23.Given a floating point number with 1 decimal place round it off to nearest greater integer and print it.
Sample Testcase :
INPUT
2.6
OUTPUT
3

In [ ]:
import math
n=float(input())
print(math.ceil(n))

24. Print 'yes' if N is between L and R else print 'no'.
Sample Testcase :
INPUT
3
2 6
OUTPUT
yes

In [ ]:
N = int(input( ))
L,R = map(int,input( ).split( ))
if N in range(L,R):
    print('yes')
else:
    print('no')

25. String is called true if weight of string is multiple of 8. Your task is to tell whether a string can be declared True or Not.

In [ ]:
a=input()
sum=0
for i in a:
    a=ord(i)
    sum=sum+a
if sum==8:
    print(1)
else:
    print(0)

26.Each output should be in seperate line.
Sample Testcase :
INPUT
100 200
OUTPUT
100

In [ ]:
a,b=map(int,input( ).split( ))
if b>a:
    print(b-a)

27. print its factors.
Input Size : n<=1000
Sample Testcase :
INPUT
6
OUTPUT
1 2 3 6

In [ ]:
num=int(input())
factors=[]
for i in range(1,num+1):
    if num%i==0:
       factors.append(i)

print (*factors)

28. Print 'yes' if it is prime else print 'no'.
Sample Testcase :
INPUT
123
OUTPUT
no

In [ ]:
number = int(input())

# prime number is always greater than 1
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print("no")
            break
    else:
        print("yes")

29., print its reverse.
Input Size : n <= 1000
Sample Testcase :
INPUT
10
OUTPUT
1

In [ ]:
import re
regex = "^0+(?!$)"
number = int(input())
a=str(number)
b=a[::-1]
b = re.sub(regex, "", b)
print(b)

30.print the sum of the first K natural numbers.
Input Size : n <= 100000
Sample Testcase :
INPUT
3
OUTPUT
6

In [ ]:
num = int(input( ))
sum =0
for i in range(num+1):
    sum =sum+i
print(sum)