<a href="https://colab.research.google.com/github/krithi65/mathematic-programs/blob/main/sort%2Cloop%2Camazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a code to get 2 integers as input and add the integers without any carry.

In [ ]:
import math
result=0
multi=1
n1,n2=map(int,input( ).split( ))
while(n1>0 and n2>0):
    result+=multi*((n1+n2)%10)
    n1=math.floor(n1/10)
    n2=math.floor(n2/10)
    multi=multi*10
print(result)

2.Print the sum of the digits of the integer.

In [ ]:
n = int(input( ))
sum = 0
for value in str(n):
    sum = sum + int(value)
print(sum)

3.get the input and print it 5 times.

In [ ]:
a = int(input( ))
for i in range (5):
    print(a)

4.Print the values from 1 to N in a separate line.

In [ ]:
n= int(input( ))
for i in range(1,n+1):
  print(i)

5.Print the digits of the integer in a single line separated by space,

In [ ]:
a = input( )
digit = []
for i in a:
    digit.append(i)
print(*digit)

6.Print the even and odd integers of the integer in a separate line.

In [ ]:
n = input( )
even_lst = [ ]
odd_lst = [ ]
for i in n:
    if int(i)%2==0:
        even_lst.append(i)
    else:
        odd_lst.append(i)
even_lst.sort()
odd_lst.sort()
print(*even_lst)
print(*odd_lst)

7.Print the sum of values from 1 to N.

In [ ]:
n = int(input( ))
sum = 0
for value in range(1, n + 1):
    sum = sum + value
print(sum)

8.Print the integer A, N times in separate line.

In [ ]:
a,n = map (int,input( ).split( ))
for i in range(n):
    print (a)

9.Print the smallest perfect power of 2 greater than n.

In [ ]:
n=int(input( ))
power=1
while n>0:
    power=power<<1
    n=n>>1
print(power)

10.Print the reversed string.

In [ ]:
a=input()
print(a[ ::-1])

11.Print the HCF of the integers.

In [ ]:
x,y=map(int,input().split())
if (x>y):
    smaller=y
else:
    smaller=x
for i in range(1,smaller+1):
    if (x%i==0) and (y%i==0):
        hcf=i
print(str(hcf))

12.Print the values from N to 1 in a separate line.

In [ ]:
n= int(input( ))
for i in range(n,0,-1):
    print (i)

13. print the even values from 1 till N in a separate line.

In [ ]:
N = int(input( ))
for i in range(1, N+1):
     if i%2==0:
      print(i)

AMAZON:

1.A ‘majsetic’ array is an array whose sum of first three number is equal to last three number.

In [ ]:

n=int(input())
b=list(map(int,input().split()))
c1=b[:3]
c2=b[-3:]
if(sum(c1)==sum(c2)):
   print(1) 
else:
    print(0)

2.Print 1 if they are anagram else print 0.

In [ ]:
s1=input()
s2=input()
if sorted(s1)==sorted(s2):
    print(1)
else:
    print(0)

3.Find if String2 is substring of String1

In [ ]:
str1=input()
str2=input()
if str2 in str1:
    index=str1.find(str2)
    print(index)
else:
    print(-1)

4.print all permutations of the string in a separate line.

In [ ]:
import itertools
a_string = input()
string_permutations = itertools.permutations(a_string)
string_permutations = list(string_permutations)
string_permutations = [''.join(permutation)for permutation in string_permutations]
for l in string_permutations:
    print(l)

SORT:

1.Matrix sorted in ascending order

In [ ]:
(r, c) = map(int, input().split())
a = []
for i in range(r):
     l = [int(x) for x in input().split()]
     a.extend(l)
a.sort()
i = 0
for j in range(r):
    b = []
    for k in range(c):
        b.append(a[i])
        i += 1
    print(*b)

2.Sorted list of employee names

In [ ]:
num=int(input())
a=input().split()
salary=[]
names=[]
for i in a:
    if i.isdigit():
        salary.append(int(i))
    else:
        names.append(i)
#print(names)
#print(salary)
arrange=sorted(salary)   
for i in arrange:
    jam=salary.index(i)
    print(names[jam])

3.Alphabetically sorted set of strings

In [ ]:
a=input()
companies=list(map(str,input( ).split()))
companies.sort()
print(*companies)

4.Salaries sorted in ascending order.

In [ ]:
num = int(input())
salary = [int(x) for x in input().split()]
salary.sort()
print(*salary)

5.If quad ret exists print Yes else print No

In [ ]:
n=input()
quadret=list(map(int,input().split()))
sum=0
for i in quadret:
    sum=sum+i
if sum==1:
    print("Yes")
else:
    print("No")